
@{
    ViewBag.Title = "Home";
}

<div>Hi!</div>
<a asp-action="Index" asp-controller="Category">Categories</a>
<br/>
<a class="btn btn-primary" href="#" role="button">Link</a>

<script asp-src-include="~/bundle.js"></script>