
@{
    ViewBag.Title = "Home";
}

@section breadcrumbs {
}

<div class="container-fluid mb-3">
    <p id="categoryList" class="text-md-left"></p>
    <a id="showCategories" class="btn btn-primary" href="#" role="button">Get all categories</a>
</div>
<div class="container-fluid">
    <p id="productsList" class="text-md-left"></p>
    <a id="showProducts" class="btn btn-primary" href="#" role="button">Get all products</a>
</div>
<a asp-action="Do">Do!</a>