@using Microsoft.Extensions.Configuration

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@inject Microsoft.Extensions.Configuration.IConfiguration config

@{
    ViewBag.Title = "Home";
}

@section breadcrumbs {
}

<h3>@env.EnvironmentName</h3>
<h4>Connection string: @config.GetConnectionString("DefaultConnection")</h4>

<div class="container-fluid mb-3">
    <p id="categoryList" class="text-md-left"></p>
    <a id="showCategories" class="btn btn-primary" href="#" role="button">Get all categories</a>
</div>
<div class="container-fluid">
    <p id="productsList" class="text-md-left"></p>
    <a id="showProducts" class="btn btn-primary" href="#" role="button">Get all products</a>
</div>
<a asp-action="Do">Do!</a>