@model PasswordResetConfirmedViewModel

@{
    ViewBag.Title = "PasswordReset";
}

<div>
    <form asp-action="PasswordResetSubmit" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control"/>
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div asp-validation-summary="All"></div>
</div>

