@model PasswordResetViewModel

@{
    ViewBag.Title = "Reset password";
}

<div>
    <form asp-action="PasswordReset" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div asp-validation-summary="All"></div>
</div>

