<header>
    <div id="navbarHeader" class="bg-dark collapse" style="">
        <div class="container">
            <div class="row">
                <a asp-action="index" asp-controller="category" class="p-2 text-white">Category</a>
            </div>
            <div class="row">
                <a asp-action="index" asp-controller="product" class="p-2 text-white">Products</a>
            </div>
            <div class="row">
                <a asp-action="index" asp-controller="supplier" class="p-2 text-white">Suppliers</a>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a asp-action="index" asp-controller="home" class="p-2 text-white">Home</a>
            <div>
                <a href="#" class="btn btn-light">Sign up</a>
                <button class="navbar-toggler collapsed" 
                        type="button" 
                        data-toggle="collapse" 
                        data-target="#navbarHeader" 
                        aria-controls="navbarHeader" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
</header>