@model DotNetCore2018.WebApi.ViewModels.CategoryViewModel

<html>
<body>
    <div>
        <a asp-action="Index" asp-controller="Home">Back to list</a>
        <form method="POST">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <input type="submit" name="save" value="Save" />
        </form>
    </div>
</body>
</html>