@model CategoryViewModel

@{
    ViewBag.Title = "Create category";
}

<div>
    <a asp-action="Index" asp-controller="Category">Back to list</a>
    <form method="POST">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <input type="submit" name="save" value="Save" />
    </form>
    <div asp-validation-summary="All"></div>
</div>