@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "Products";
}

<div>
    <div class="card-deck mb-5">
        @foreach (var product in Model)
        {
            @await Html.PartialAsync("_ProductCard", product)
        }
    </div>
    <a asp-action="Create" class="btn btn-primary">Create new</a>
</div>